@import "tailwindcss";

@layer base {
  :root {
    --arc-0: #000000;
    --arc-1: #0074D9;
    --arc-2: #FF4136;
    --arc-3: #2ECC40;
    --arc-4: #FFDC00;
    --arc-5: #AAAAAA;
    --arc-6: #F012BE;
    --arc-7: #FF851B;
    --arc-8: #7FDBFF;
    --arc-9: #870C25;
  }

  /* 
  html {
    scroll-behavior: smooth;
  } */
}